.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  color: black;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn svg {
  fill: #000;
}

.btn:active,
.active {
  background-color: #bbb;
  fill: #bbb;
  border: 1px solid black;
}
